<a href="https://colab.research.google.com/github/lalithatv/Machine_Learning_Basics/blob/master/Python_Basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Hello word in Python**

In [ ]:
print("Hello world! How are you?")

**DATA TYPE**

In [ ]:
a = 12
print(a)
print(type(a))

In [ ]:
b = 1.2
print(b)
print(type(b))

In [ ]:
c = "Python"
print(c)
print(type(c))

Python
<class 'str'>

In [ ]:
d = True
print(d)
print(type(d))

In [ ]:
a, b, c = 1, 2, 3
a, b, c = 1, 3.5, "hello"
print(type(a))
print(type(b))
print(type(c))

<class 'int'>
<class 'float'>
<class 'str'>

**Math Operation**

In [ ]:
a = 10
print(a + 1)
print(a - 1)
print(a * 2)
print(a / 2)
print(a ** 2)
print(a // 2)

**Boolean Operation**

In [ ]:
x = True
y = False
print (x and y)
print (x or y)
print (not x)
print (x & y)

False
True
False
False

**Conditions**

In [ ]:
import random
a = [50,100,200,300]
b = random.choice(a)
print(b)

50

In [ ]:
if(b < 100):
  print("Number - " + str(b) + " is lesser than 100")
  print( "Yes it is less than 100")
elif(b >= 100 and b<200):
  print("Number - " + str(b) + " is greater than or equal to 100 but lesser than 200")
else:
  print("Number - " + str(b) + " is greater than or equal to 200")

Number - 50 is lesser than 100
Yes it is less than 100

**Loops**

In [ ]:
c = 0
while( c < 10):
  print(c,end='')
  c+=1

In [ ]:
numbers =  [1, 2 ,4 ]
#for( i=0 ; i<len(numbers) ; i++ )
for x in numbers:
  print(x, end = ' ')

In [ ]:
for c in range(5):#for(i=0; i < 5 ; i++ )
  print(c)

In [ ]:
for c in range(0,10,2):#for(i=0; i <10; i+2 )
  print(c)

In [ ]:
for c in range(10,0,-2):#for(i=10; i>0 ; i-2)
  print(c)

**String Operations**

In [ ]:
a = "Python"
b = "  is python is awesome!"
print(a)
print(b)

In [ ]:
print( a+b )
print ( a,b )

In [ ]:
print("this is a {} this is b {}" . format(a,b))
print("%s%s" %(a,b))

In [ ]:
print(a.upper())
print(a.lower())

In [ ]:
print(b.strip())
print(b.replace("awesome","great"))

In [ ]:
if a in b:
  print("TRUE")
else:
  print("FALSE")

**Data Structures**

**LISTS**

In [ ]:
l = [ 1, 2, 3, 4, 5 ]
print(len(l))

5

In [ ]:
print(l[0])
print(l[1])
print(l[4])

1
2
5

In [ ]:
print(l[len(l)-1])
print(l[-1])

5
5

In [ ]:
l.append(6)
print(l)

u=item = l.pop()
print(item)

l.append("string")
print(l)

[1, 2, 3, 4, 5, 6]
6
[1, 2, 3, 4, 5, 'string']

In [ ]:
l = [ 10,20,30,40,50 ]
print(l[ 1 : 2 ])
print(l[ 1 : 3 ])
print(l[ 0 : ])
print(l[ 0 :-1 ])
print(l[ : ])

[20]
[20, 30]
[10, 20, 30, 40, 50]
[10, 20, 30, 40]
[10, 20, 30, 40, 50]

In [ ]:
b = [ 5, 7, 2, 4, 9 ]
b.sort()
print(b)

[2, 4, 5, 7, 9]

In [ ]:
b.sort (reverse= True)
print(b)

[9, 7, 5, 4, 2]

In [ ]:
a = [ "dhoni" , "sachin" , "warner", "abd"]
a.reverse()
print(a)

['abd', 'warner', 'sachin', 'dhoni']

In [ ]:
a = [66,55,44,22,11,55,22]
print(a.count(22))

2

**Tuples**

In [ ]:
t = (200,500)
print(type(t))
print(t[1])

<class 'tuple'>
500

In [ ]:
print(len(t))
print(max(t))
print(min(t))

2
500
200

In [ ]:
l = [ 400,800,1200]
l_to_t = tuple(l)
print(type(l_to_t))

<class 'tuple'>

**Dictionary**

In [ ]:
d = { "1" : "Iron Man",
     "2" : "Captain america",
     "3" : "Thor"
    
}

In [ ]:
print(type(d))
print(d["1"])

<class 'dict'>
Iron Man

In [ ]:
for key in d:
  print(key)
  print(d[key])

1
Iron Man
2
Captain america
3
Thor

In [ ]:
d["2"] = "Hulk"
for key,value in d.items():
  print(key + "-" + value)

1-Iron Man
2-Hulk
3-Thor

In [ ]:
d["4"]
d["2"]
print(d.items())
d.pop(4)
print(d.items())
del d[2]

KeyError: ignored

**Exceptional Handling**

In [ ]:
x=9
try:
  print(x)
except:
  print("something is wrong")

9

In [ ]:
x=9
try:
  print(x)
except:
  print("something is wrong")
finally:
  print("Finally always execute after try-except")

9
Finally always execute after try-except

**Function**

In [ ]:
def squared(x):
  print(x*x)
  return x*x

In [ ]:
res = squared(4)
print(res)

16
16

**Which is fast**

In [ ]:
import time

my_tuple = tuple(range(300000000))
tic = time.time()
print(tic)
my_tuple_squared = map(lambda i : i**2, my_tuple)
toc = time.time()
print(toc)
t = toc-tic
print("Elapsed time in seconds for tuple %.8f"%t)

1608637045.2981482
1608637045.298424
Elapsed time in seconds for tuple 0.00027585

In [ ]:
import time
my_list = list(range(300000000))
tic = time.time()
print(tic)
my_list_squared = map(lambda i : i**2, my_list)
toc = time.time()
print(toc)
t = toc-tic
print("Elapsed time in seconds for tuple %.8f"%t)

1608637118.4281254
1608637118.4283996
Elapsed time in seconds for tuple 0.00027418

**Numpy**